--- 
---

@font-face {
  font-family: 'light';
  src: url('/fonts/founders-grotesk-web-light.eot');
  src: url('/fonts/founders-grotesk-web-light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/founders-grotesk-web-light.woff2') format('woff2'),
       url('/fonts/founders-grotesk-web-light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'light';
  src: url('/fonts/founders-grotesk-web-light-italic.eot');
  src: url('/fonts/founders-grotesk-web-light-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/founders-grotesk-web-light-italic.woff2') format('woff2'),
       url('/fonts/founders-grotesk-web-light-italic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'regular';
  src: url('/fonts/founders-grotesk-web-regular.eot');
  src: url('/fonts/founders-grotesk-web-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/founders-grotesk-web-regular.woff2') format('woff2'),
       url('/fonts/founders-grotesk-web-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('/fonts/founders-grotesk-web-regular-italic.eot');
  src: url('/fonts/founders-grotesk-web-regular-italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/founders-grotesk-web-regular-italic.woff2') format('woff2'),
       url('/fonts/founders-grotesk-web-regular-italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}


// ————————————————————————————————————————— 
// VARIABLES: for partials
// ————————————————————————————————————————— 
// for layout
$column-count: 12;
$column-count-m: 10;
$column-count-s: 4;
$grid-width: 1366;
$column-margin: 40;

// ————————————————————————————————————————— 
// IMPORTS 
// ————————————————————————————————————————— 
// these are partials
// init for mob theme
@import "init";
// grid and base layout classes
@import "layout";


// ————————————————————————————————————————— 
// VARIABLES: for base
// ————————————————————————————————————————— 
// $headerheight: 80px;
// $fullbrowserheight: calc(100vh - 80px);

// color
$black4: #424242;
$black2: #202020;
$offWhite: #F9F8F8;
$white: #FFFFFF;
$red: #FC4336;
$blue: #4B40D9;

// easings
$easing: cubic-bezier(0.83, 0, 0.17, 1);

// font sizes
$f60: 600%;
$f42: 420%;
$f24: 240%;
$f22: 220%;

::selection {
    background: rgba(252, 67, 54, 0.5);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(252, 67, 54, 0.5);
    /* Gecko Browsers */
}

.keyboard-focus :focus {
    outline: 2px solid blue;
}

#skipLink {
    padding: 20px 10px 11px 10px;
    display: inline-block;
    position: absolute;
    z-index: 123456789;
    background-color: white;
    top: -200px;
    left: 20px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    transition: .4s all $easing;

    &:focus {
        top: 0;
    }
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

// locomotive scrollbar - always show
.c-scrollbar {
  opacity: 1 !important;
  z-index: 9999999999 ;
}

// ————————————————————————————————————————— 
// M I X I N S
// ————————————————————————————————————————— 
// @include background-image("image.jpg");
@mixin background-image($url) {
    background: $grey url($url) no-repeat center;
    background-size: cover;
}

// @include background-fill();
@mixin background-fill() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// font size 60px
@mixin f60() {
    font-size: $f60;
    line-height: 0.95;
    margin: 0;
    padding: 0;
    letter-spacing: -.02vw;
    font-family: "regular", sans-serif;
}

@mixin f42() {
    font-size: $f42;
    line-height: 1.2;
    letter-spacing: -.02vw;
    font-family: "regular", sans-serif;
}

// font size 24px
@mixin f24() {
    font-size: $f24;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    letter-spacing: -.02vw;
    font-family: "regular", sans-serif;
}

// font size 22px
@mixin f22() {
    font-size: $f22;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-family: "regular", sans-serif;
}



// ————————————————————————————————————————— 
// header
// —————————————————————————————————————————

.main-header {
    position: fixed;
    z-index: 12345;
    top: 40px;
    width: 100%;
    display: block;
    text-align: center;

    .main-header__home {
        position: absolute;
        left: 50px;
        top: -28px;
    }

    .main-header__logo-area {
        margin: auto;

        img {
            width: 187px;
        }

        .dark-header {
            display: none;
        }
    }

}

.main-nav {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 12345;
    bottom: 40px;
    text-align: center;

    nav {
        background-color: $white;
        border-radius: 60px;
        margin: auto;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

        .main-nav__link {
            padding: 19px 16px 23px 16px;
            margin: 4px;
            color: $black2;
            font-size: 180%;
            line-height: 0;

            span {
                position: relative;
                z-index: 12;
                transition: .3s color $easing;
            }

            &.active {
                color: $offWhite;
                transition: .3s color ease-in;
            }

            &:hover:not(.active) span {
                color: $red;
            }
        }

        .active-indicator {
            position: absolute;
            top: 4px;
            background-color: $red;
            height: calc(100% - 8px);
            width: 80px;
            display: block;
            border-radius: 60px;
            transition: .5s all cubic-bezier(.19, 1, .22, 1);
        }
    }
}



// ————————————————————————————————————————— 
// Typography
// —————————————————————————————————————————

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
address,
textarea {
    margin: 0;
    padding: 0;
    font-size: 220%;
    letter-spacing: .2px;
    color: $black4;
    line-height: 1.15;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "regular", sans-serif;
}

p,
li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: "light", sans-serif !important;
}

p.p-large {
    font-family: "light", sans-serif !important;
    font-size: 240%;
    line-height: 1.2;
    color: #000;
}

.section-heading {
    color: $black4;
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-size: 7.7vw;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    letter-spacing: -.1vw;
    font-family: "regular", sans-serif;
}

.section-heading,
.color-change {
    strong,
    span {
        color: $red !important;
    }
}

a {
    text-decoration: underline;
}

p.small {
    font-size: 140%;
}

.red {
    color: $red;
}

// ————————————————————————————— lists

ul {
    list-style-type: disc;
}

ul ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

ol ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

li li {
    font-size: 100%;
}

iframe {
    width: 100%;
}

// ————————————————————————————————————————— 
// Parallax Classes
// —————————————————————————————————————————
// .lax-container {
//     overflow: hidden;

//     .lax-container__object {
//         transform: scale(1.1);
//     }
// }

// ————————————————————————————————————————— 
// Layers
// —————————————————————————————————————————
.home-hero {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
    overflow: hidden;

    &:before{
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 35.5%, rgba(0, 0, 0, 0.00) 100%);
        position: absolute;
        left: 0; 
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 1;
    }

    h1 {
        position: relative;
        z-index: 1;
        color: $offWhite;
        font-size: 800%;
        height: 100%;
        line-height: 0.9;
        letter-spacing: -.1vw;
        font-family: "regular", sans-serif;
        display: flex;
        align-items: flex-end;
        padding: 0 8% 180px;
        justify-content: center;
        margin: 0;
        text-align: left;
        max-width: 75%;
    }

    .home-hero__background {
        @include background-fill();
        background-position: center bottom;
        width: 100vw;
        height: 120vh;
        position: absolute;
        left: 0;
        top: -9vh;
        right: 0;
        bottom: 0;
        opacity: .8;
    }
}

// .gallery {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     margin-top: 50px;

//     img {
//         max-height: 100px;
//         max-width: 250px;
//         margin: 35px;
//     }
// }

.about-us__person {
    h3 {
        color: $red;
        font-size: 360%;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    h4 {
        margin-bottom: 20px;
    }

    p {
        margin-right: 10%;
    }
}

.inneraction-lab {
    overflow: visible; 

    &:after {
        content: '';
        background: url("/_images/inneraction-lab-graphic.svg") no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        height: 274px;
        width: 280px;
    }

    .expanders {
        position: relative; 

        .expander {
            background-color: $blue;
        
            * {
                color: $white;
                font-family: 'light';
            }

            h5 {
                font-weight: 600;
            }
        }
    }

    .wysiwyg {
        * {
            font-family: 'regular';
        }

        h2, h3, h4, h5, h6 {
            color: $blue;
            font-weight: 600;
            font-size: 290%;
            margin: 0 0 1rem 0;
        }
    }
}

.graphic-layer {
    .graphic {
        margin-top: -13vw;
    }

    .graphic-layer__graphic--mobile {
        display: none;
    }
}

// .lg-list {
//     ul {
//         list-style-type: none !important;
//         margin-left: 0;
//         padding-left: 0;

//         li {
//             font-size: $f60;
//             color: $red;
//             font-family: "regular";
//         }
//     }
// }

.site-intro {
    h2{
        @include f60();
    }
    p {
        font-family: "light" !important;
        @include f22();
        max-width: 800px;
    }

    .wo{
        gap: 30px 40px;
    }
}
.services {
    .lists{
        gap: 40px 20px;
    }
    .service-columns {
        display: flex; 
        gap: $column-margin+px;

        .service-columns__service {  
            flex: 1; 

            h4 {
                color: $red;
                @include f24();
                margin-bottom: 15px;
            }

            .expanders {
                margin-top: 60px;

                .expander {
                    background-color: $white;

                    h5 {
                        font-family: "light", sans-serif;
                        color: $red;
                    }
                }
            }
        }
    }

    .section-subtitle{
        @include f42();
        font-weight: 600;
        color: $black2;
    }
}

.expanders {
    .expander {
        padding: 20px;
        margin-bottom: 2px;
        cursor: pointer;

        h5 {
            font-size: 220%;
            line-height: 1;
            position: relative;

            &:after {
                font-family: "light", sans-serif;
                content: "+";
                position: absolute;
                right: 0;
            }

            &.open:after {
                content: "-";
                font-size: 210%;
                top: -18px;
            }
        }

        .expander__content {
            margin-top: 10px;
            height: 0;
            overflow: hidden;
        }
    }
}

.resources {
    .resources__nav {
        margin-top: 0;

        a:hover:not(.active) {
            color: $red !important;
        }

        a {
            margin-right: 4px;
            transition: .3s all $easing;
        }
    }

    .resources__post {
        &__item {
            text-decoration: none;
            min-height: 23vw;
            margin-bottom: 55px;
            padding-top: 32px;
            border-top: 1px solid rgba(66, 66, 66, 0.1);

            .background {
                height: 100%;
                grid-row-end: span 2;
                -webkit-backface-visibility: hidden;
                -webkit-perspective: 1000px;
                overflow: hidden;

                div {
                    @include background-fill();
                    height: 100%;
                    transform: scale(1.01);
                    transition: 1s all cubic-bezier(0, 0.28, 0.5, 1);
                }
            }

            &:hover .background div {
                transform: scale(1.06);
            }

            .title-link{
                display: block;
                margin-top: -13px;
                transition: .6s all $easing;
                text-decoration: none
            }

            h4{
                @include f60();
                color: $red;
            }

            &:hover h4 {
                color: $black2;
            }

            .button {
                position: absolute;
                top: 0;
                right: 0;
                height: 43px;
                width: 43px;
                display: flex;
                align-items: center;
            }
        }
    }

    .resources__archives-cta {
        text-align: left;
        border-top: 1px solid rgba(66, 66, 66, 0.1);
    }
}

.work {
    .section-intro{
        p{
            color: $black2;
        }
    }
    .work__slider {
        margin-top: 550px;

        .work__slider__cell {
            transition: 1s all $easing;
            height: 400px;
            bottom: 0;

            .work__slider__cell__content {
                margin-bottom: 90px;
                position: absolute;
                top: -360px;
                transition: 1s all $easing;
            }

            .work__slider__cell__subtitle {
                @include f24();
                color: $red;
                margin: 10px 0;
            }

            .work__slider__cell__subtitle,
            h3 {
                display: inline-block;
                transition: 1s all $easing;
            }

            img {
                padding-right: 55px;
                height: 100%;
                object-fit: cover;
            }
        }

        .work__slider__cell:not(.is-selected) {
            height: 290px;

            .work__slider__cell__content {
                opacity: 0;
            }
        }
    }

    .flickity-prev-next-button {
        width: 64px;
        height: 64px;
        top: -60%;

        .flickity-button-icon {
            left: 30%;
            top: 30%;
            width: 40%;
            height: 40%;

            path {
                fill: $red;
            }
        }

        &.previous {
            left: 10%;
        }

        &.next {
            right: 10%;
        }
    }
}

.contact {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
        @include f60();
    }

    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .half {
            width: 45%;
        }

        .full {
            width: 100%;
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $offWhite !important;
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $offWhite !important;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $offWhite !important;
        }

        input:not(#mc-embedded-subscribe) {
            width: 100%;
            font-size: 180%;
            line-height: 1;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 7px;
        }

        textarea {
            width: 100%;
            font-size: 180%;
            height: 6em;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 7px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        button {
            margin-top: 40px;
        }

        .mc_fieldset {
            border: 0;
            padding: 0;
        }
        
        .av-checkbox {
            display: inline-block;
            width: auto !important;
            margin-right: 10px;
        }

    }
}

.mc-field-group label,
.contact .label-wrapper {
    width: 100%;
    color: $offWhite !important;
    font-size: 180%;
    line-height: 1;
    display: block;
    margin-top: 20px;

    &.checkbox {
        margin-top: 0;
        margin-bottom: 10px;
    }

    &:not(.checkbox) span {
        color: $black2 !important;
    }
}

#mergeRow-gdpr p {
    font-size: 160%;

    a {
        font-size: 100%;
    }
}

#mc-embedded-subscribe {
    border: none !important;

    &:hover {
        cursor: pointer;
    }
}

.footer {
    img {
        margin-bottom: 16vw;
    }

    div {
        padding-top: 35px;
        border-top: 1px solid $white;
    }
    // but not inside the form:
    #mc_embed_signup{
        border-top: none;
        div{
            border-top: none;
        }
    }

    h2,
    small {
        opacity: .5;
        font-size: 150%;
    }

    small {
        margin-top: 130px;
    }
}


// ————————————————————————————————————————— 
// slider
// —————————————————————————————————————————
.flickity-viewport {
    overflow: visible !important;

    .work__slider__cell {
        width: 386px;
    }
}


// ————————————————————————————————————————— 
// buttons
// —————————————————————————————————————————

.button--white,
.button {
    position: relative;
    margin-top: 20px;
    background-color: $red;
    color: $white;
    border-radius: 60px;
    border: none;
    display: inline-block;
    padding: 10px 15px 13px 15px;
    text-decoration: none !important;
    line-height: 1;
    font-size: 220%;
    transition: .3s all $easing;
    /**/
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.red-bg .button--white,
.button--white {
    color: $black2 !important;
    background-color: $white;
}

.button--white>span,
.button--white::before {
    color: $black2 !important;
}

.button:hover {
    background-color: darken($red, 20%);
}

.red-bg .button--white:hover,
.button--white:hover,
.resources__nav a:not(.active):hover {
    background-color: darken($offWhite, 3%);
}

.button>span {
    display: inline-block;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--white:before,
.button::before {
    content: attr(data-text);
    position: absolute;
    top: -12px;
    left: 15px;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button:hover>span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button:hover>span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.button:hover>span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.button:hover>span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s;
}

.button:hover>span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

.button:hover>span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
}

.button:hover>span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
}

.button:hover>span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s;
}

.button:hover>span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
}

.button:hover>span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s;
}

.button:hover>span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}





// ————————————————————————————————————————— 
// footer
// —————————————————————————————————————————

// #mc_embed_signup_scroll{

//     .indicates-required,
//     .mc-field-group{
//         font-size: 200%;
//     }
//     .content__gdpr{
//         label, fieldset, p{
//             font-size: 100%;
//         }
//         fieldset{
//             margin-top: 1em;
//             margin-bottom: 1em;
//             padding-top: 7px;
//             border: none;
//         }
//     }
//     .content__gdprLegal{
//         a,p{
//             font-size: 100%;
//         }
//     }
//     .subfield{
//         span{
//             padding-left: .5em;
//         }
//     }
//     #mc_embed_signup,
//     #mc_embed_signup_scroll,
//     #mce-responses,
//     .indicates-required,
//     .optionalParent,
//     .mc-field-group{
//         padding-top: 0px;
//     }
//     .mc-field-group{
//         padding-top: 1em;
//     }
//     p.brandingLogo{
//         height: 50px;
//         margin-top: 35px;
//         display: none;
//     }
//     #mce-EMAIL{
//         width: 100%;
//         font-size: 150%;
//         line-height: 1;
//         border-bottom: 1px solid white;
//         padding-bottom: 20px;
//         margin-bottom: 25px;
//     }

// }
// #mc_embed_signup_scroll,
// #mc_embed_signup{
//     padding-top: 0px;
// }
// .embed{
//     input.required.email{
//         border-bottom: 1px solid rgba(66,66,66,0.2) !important;;
//     }
// }

// ————————————————————————————————————————— 
// core styles & classes
// ————————————————————————————————————————— 
body {
    background-color: $offWhite !important;
    height: 100vh;
    margin: 0;
    padding: 0;

    * {
        font-family: "regular", sans-serif;
    }
}

body,
input,
textarea,
radio,
checkbox,
.strip {
    background-color: transparent;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
    border: none;
    box-shadow: none;
}

.pv60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.pv100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pv170 {
    margin-top: 170px;
    margin-bottom: 170px;
}

.pt100{
    margin-top: 100px;
}

.pb100{
    margin-bottom: 100px;
}

.pt50{
    margin-top: 50px;
}

.pb50{
    margin-bottom: 50px;
}

.pt170{
    margin-top: 170px;
}

.pb170{
    margin-bottom: 170px;
}


.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;

    embed,
    video,
    object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.red-bg {
    background-color: $red;

    * {
        color: $offWhite !important;
    }
}

.gray-bg {
    background-color: $black4;

    * {
        color: $white !important;
    }
}

/* Fixes potential theme css conflict. */
.acf-map {
    width: 100%;
    height: 100vh;

    img {
        max-width: inherit !important;
    }
}

li p,
p .button,
article a {
    font-size: 100%;
}

// —————————————————————————————————————————
// Smooth Scroll
// —————————————————————————————————————————

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

// —————————————————————————————————————————
// IMPORTS
// —————————————————————————————————————————
// these are partials, must go in the _sass folder
@import "responsive.scss";