---
title: Home
---
{% include head.html %}
{% include navigation-home.html %}

<div data-scroll-container data-scroll-section>
    <main>
        <div class="home-hero">
            <h1 class="editable">Design for Humanity</h1>
            <div data-scroll="" data-scroll-delay="1" data-scroll-speed="2" class="home-hero__background" style="background-image:url('/images/placeholder.jpg');"></div>
        </div>

        <section>
            <div class="wo pv170">
                <h2 class=" col-1-to-12 editable">Design for Humanity</h2>
                <h3 class="hero-text-block col-1-to-12 editable">
                    We are a design strategy firm that works with leaders and their organizations to put
                    <strong>humans at the center.</strong>
                </h3>
            </div>

            <div class="wo pv100">
                <h3 class="editable col-1-to-3">What We're About</h3>
                <div class="editable col-7-to-12">
                    <p>
                        Our company works with organizations, their employees, and other stakeholders to transform how
                        they
                        understand and support human development, interaction, and performance.
                    </p>
                    <p>
                        We develop and share know-how
                        and tools that enable clients to address their mointractable challenges where inadequate
                        soft/behavioral skills meet issues of stress, social cognitive bias, and race-equity-and
                        inclusion
                        (REI). Organizations can do this because we have seen it and we have helped to make it happen.
                    </p>
                </div>
            </div>

            <div class="wo lax-container">
                <img class="col-2-to-12 lax-container__object" src="/images/placeholder-6.jpg" alt="">
            </div>
        </section>

        <section id="work" class="work pv170">
            <div class="wo">
                <h2 class="col-1-to-3">Recent Work</h2>
                <p class="col-11-to-13 right">Drag <span class="red">↔</span></p>
            </div>
            <div class="work__slider">
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3>Client</h3>
                        <h3>Year</h3>
                        <h3 class="work__slider__cell__subtitle">Project Title</h3>
                        <p class="work__slider__cell__subtitle">2017</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                            interdum
                            tincidunt nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum
                            quis
                            mi. Nunc vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                        </p>
                    </div>
                    <img src="/images/PIC2.jpg" alt="">
                </div>
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3>Client</h3>
                        <h3>Year</h3>
                        <h3 class="work__slider__cell__subtitle">Project Title</h3>
                        <p class="work__slider__cell__subtitle">2017</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                            interdum
                            tincidunt nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum
                            quis
                            mi. Nunc vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                        </p>
                    </div>
                    <img src="/images/placeholder.jpg" alt="">
                </div>
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3>Client</h3>
                        <h3>Year</h3>
                        <h3 class="work__slider__cell__subtitle">Project Title</h3>
                        <p class="work__slider__cell__subtitle">2017</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                            interdum
                            tincidunt nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum
                            quis
                            mi. Nunc vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                        </p>
                    </div>
                    <img src="/images/PIC4.jpg" alt="">
                </div>
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3>Client</h3>
                        <h3>Year</h3>
                        <h3 class="work__slider__cell__subtitle">Project Title</h3>
                        <p class="work__slider__cell__subtitle">2017</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                            interdum
                            tincidunt nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum
                            quis
                            mi. Nunc vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                        </p>
                    </div>
                    <img src="/images/PIC3.jpg" alt="">
                </div>
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3>Client</h3>
                        <h3>Year</h3>
                        <h3 class="work__slider__cell__subtitle">Project Title</h3>
                        <p class="work__slider__cell__subtitle">2017</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                            interdum
                            tincidunt nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum
                            quis
                            mi. Nunc vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                        </p>
                    </div>
                    <img src="/images/placeholder.jpg" alt="">
                </div>
            </div>
        </section>

        <section id="clients" class="our-clients wo pv100">
            <h2 class="editable col-1-to-3">Our Clients</h2>
            <div class="editable col-7-to-12">
                <p>
                    Our clients are in the areas of workforce development, community development, philanthropy, social
                    impact investing, and public health. We invite you to reimagine how your organization will create
                    better
                    and more resilient lives, organizations and communities.
                </p>
            </div>
            <div class="gallery full-width">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
                <img src="/images/humanature-logo-red.svg" alt="">
            </div>
        </section>

        <section id="about">
            <div class="about-us wo pv170">
                <h2 class="editable pv60 col-1-to-3">About Us</h2>
                <div class="about-us__person col-2-to-7">
                    <img src="/images/michael-obryan.jpg" alt="Headshot of Michael O'Bryan in a black tshirt against a grey background.">
                    <h3>Michael O’Bryan</h3>
                    <h4>Founder & CEO</h4>
                    <p>
                        Michael O’Bryan is an expert practitioner and budding researcher in the fields of community
                        development,
                        organizational culture, and human wellbeing who has spent more than a decade working directly
                        with
                        resilient yet underserved populations —including veterans, adults in recovery, returning
                        citizens,
                        and
                        families experiencing homelessness.
                    </p>
                    <a class="button" href="#">LinkedIn</a>
                </div>
                <div class="about-us__person col-7-to-12">
                    <img src="/images/robert-peagler.jpg" alt="Headshot of Robert Peagler in a grey suit against a grey background.">
                    <h3>Robert Peagler</h3>
                    <h4>Lead, Business Strategy & Development</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante, interdum
                        tincidunt
                        nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum quis mi. Nunc
                        vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                    </p>
                    <a class="button" href="#">LinkedIn</a>
                </div>
            </div>
            <div class="graphic-layer wo pv170">
                <h2 class="full-width center hero-text-block pv100">
                    We <strong><em>have</em></strong> to get this right
                </h2>
                <div class="col-7-to-13">
                    <h3>We help you create the conditions for core human attributes to flourish.</h3>
                    <p>The results are a more supportive, creative and resilient workforce, authentically engaged and
                        fully functioning. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img class="graphic-layer__graphic full-width" src="/images/a-to-b-graphic.svg" alt="">
            </div>

            <div class="wo">
                <h3 class="col-1-to-12 editable">Humanature Methodology</h3>
                <h4 class="hero-text-block col-1-to-13 editable">
                    At Humanature, our work is grounded in a methodology that we call <strong>“Design for
                        Humanity”</strong>.
                </h4>
                <div class="editable pv100 col-1-to-6">
                    <p>
                        Our approach is based upon and informed by current social science research. We have established
                        a
                        tight yet flexible framework of inquiry, practice and education. Further, the tools that we
                        deploy
                        sit at the intersection of human, economic, and ecological resilience.
                    </p>
                </div>
                <div class="editable pv100 col-7-to-12">
                    <p>
                        We draw on insights from the human sciences to help our clients create the conditions for the
                        flourishing of core human attributes and behavioral skills. These are the attributes and skills
                        that
                        support creativity, resilience, empathy, and meaningful engagement.
                    </p>
                </div>
            </div>
            <div>
                <div class="wo lg-list">
                    <ul class="full-width center">
                        <li data-scroll="" data-scroll-delay=".1" data-scroll-speed="1.5">Cognitive Science</li>
                        <li data-scroll="" data-scroll-delay=".13" data-scroll-speed="1.6">Biology</li>
                        <li data-scroll="" data-scroll-delay=".16" data-scroll-speed="1.9">Human Development</li>
                        <li data-scroll="" data-scroll-delay=".19" data-scroll-speed="2.1">Adult Learning</li>
                    </ul>
                </div>
                <div class="wo pv100">
                    <h2 class="editable col-1-to-3">Our Allies</h2>
                    <p class="col-7-to-12">
                        Our clients are in the areas of workforce development, community development,
                        philanthropy, social impact investing, and public health. We invite you to reimagine how your
                        organization
                        will create better and more resilient lives, organizations and communities.
                    </p>
                    <div class="gallery full-width">
                        <img src="/images/humanature-logo-red.svg" alt="">
                        <img src="/images/humanature-logo-red.svg" alt="">
                        <img src="/images/humanature-logo-red.svg" alt="">
                        <img src="/images/humanature-logo-red.svg" alt="">
                    </div>
                </div>
        </section>
        <section id="services" class="services wo pv170">
            <h2 class="editable full-width">Services</h2>
            <div data-scroll="" data-scroll-delay=".1" data-scroll-speed="1.1" class="services__service col-1-to-5">
                <h3>1</h3>
                <img src="/images/venn-diagram.svg" alt="">
                <h4>Deeper & Shared Understanding</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante, interdum
                    tincidunt
                    nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum quis mi. Nunc
                    vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                </p>
                <div class="expanders">
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-scroll="" data-scroll-delay=".2" data-scroll-speed="1.05" class="services__service col-5-to-9">
                <h3>2</h3>
                <img src="/images/overlap-squares.svg" alt="">
                <h4>Strategic Perspective</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante, interdum
                    tincidunt
                    nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum quis mi. Nunc
                    vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                </p>
                <div class="expanders">
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-scroll="" data-scroll-delay=".1" data-scroll-speed="1.1" class="services__service col-9-to-13">
                <h3>3</h3>
                <img src="/images/arrows-in.svg" alt="">
                <h4>Organizational Capacity to Nuture Development</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante, interdum
                    tincidunt
                    nisl pulvinar sit amet. Vestibulum neque nibh, aliquet ut elementum id, vestibulum quis mi. Nunc
                    vulputate a ligula in venenatis. Aliquam accumsan velit a ligula gravida vulputate.
                </p>
                <div class="expanders">
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                    <div class="expander">
                        <h5>Lorem ipsum</h5>
                        <div class="expander__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt rhoncus ante,
                                interdum tincidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="resources" class="resources pv170">
            <div class="wo">
                <h2 class="hero-text-block editable full-width center pv170">Our <span>Resources</span></h2>
                <nav class="full-width resources__nav pv100" aria-label="Resource Categories">
                    <a class="active" href="/resources">All</a>
                    <a href="/resources/presentations">Presentations</a>
                    <a href="/resources/press-releases">Press releases</a>
                    <a href="/resources/events">Events</a>
                    <a href="/resources/books">Books</a>
                    <a href="/resources/articles">Articles</a>
                </nav>
                <h3 class="editable col-1-to-3">Most Recent</h3>
            </div>
            <article class="resources__post">
                <a class="wo" href="">
                    <div class="background col-1-to-5" style="background-image: url('/images/placeholder-2.jpg');" alt="">
                    </div>
                    <h4 class="col-5-to-11">Resource Title Goes Here</h4>
                    <h5 class="col-5-to-11 bottom">Resource Category</h5>
                    <div class="button">
                        <img src="/images/right-arrow.svg" alt="Arrow">
                    </div>
                </a>
            </article>
            <article class="resources__post">
                <a class="wo" href="">
                    <div class="background col-1-to-5" style="background-image: url('/images/placeholder-3.jpg');" alt="">
                    </div>
                    <h4 class="col-5-to-11">Resource Title Goes Here</h4>
                    <h5 class="col-5-to-11 bottom">Resource Category</h5>
                    <div class="button">
                        <img src="/images/right-arrow.svg" alt="Arrow">
                    </div>
                </a>
            </article>
            <article class="resources__post">
                <a class="wo" href="">
                    <div class="background col-1-to-5" style="background-image: url('/images/placeholder-4.jpg');" alt="">
                    </div>
                    <h4 class="col-5-to-11">Resource Title Goes Here</h4>
                    <h5 class="col-5-to-11 bottom">Resource Category</h5>
                    <div class="button">
                        <img src="/images/right-arrow.svg" alt="Arrow">
                    </div>
                </a>
            </article>
            <div class="resources__archives-cta wo-stacked">
                <a class="button" href="/resources">Resource Archives</a>
            </div>
        </section>

        <section id="contact" class="contact red-bg wo-full">
            <div class="background col-1-to-6" style="background-image: url('/images/placeholder.jpg');">
            </div>
            <h2 class="color-change col-7-to-13">
                Contact us today to begin unlocking your team's full
                <strong>human potential.</strong>
            </h2>
            <form class="col-7-to-13" method="post" action="/message-sent/">
                <label for="name" class="half">
                    <span class="sr-only label-wrapper">Name</span>
                    <span class="required sr-only">(required)</span>
                    <input id="name" name="name" placeholder="Name*" required="" type="text" pattern="(?! )[A-Za-z ]*">
                </label>
                <label for="organization" class="half">
                    <span class="sr-only label-wrapper">Organization</span>
                    <input id="organization" name="organization" placeholder="Organization" type="text"
                        pattern="(?! )[A-Za-z ]*">
                </label>
                <label for="email" class="half">
                    <span class="sr-only label-wrapper">Email Address</span>
                    <span class="required hidden">(required)</span>
                    <input id="email" name="email" class="" placeholder="Email*" required="" type="email">
                </label>
                <label for="subject" class="half">
                    <span class="sr-only label-wrapper">Subject</span>
                    <span class="required sr-only">(required)</span>
                    <input id="subject" name="subject" placeholder="Subject*" required="" type="text"
                        pattern="(?! )[A-Za-z ]*">
                </label>
                <label for="message" class="full">
                    <span class="sr-only label-wrapper">Message</span>
                    <span class="required sr-only">(required)</span>
                    <textarea id="message" name="message" required="" placeholder="Message..."
                        pattern="(?! )[A-Za-z ]*"></textarea>
                </label>

                <!-- gotcha/honeypot -->
                <input type="text" name="_gotcha" style="display: none;">

                <!-- hidden fields to route the form to us -->
                <input type="hidden" name="_to" value="support@manoverboard.com">
                <input type="hidden" name="_subject" value="Website contact form submission.">

                <button class="button button--white" type="submit">
                    Submit →
                </button>
            </form>
        </section>
    </main>

    {% include footer.html %}

</div> <!-- end locomotive scroll -->