---
title: Home
hero_image: /uploads/istockphoto-1320278130-1024x1024-copy.jpg
contact_image:
---
{% include head.html %}
{% include navigation-home.html %}

<div data-scroll-container data-scroll-section>
    <main id="contentStart">
        <div class="home-hero">
            <h1 class="editable">We are a management consulting firm that works with leaders and their organizations to put humans at the center.             </h1>
            <div data-scroll="" data-scroll-delay="1" data-scroll-speed="2" class="home-hero__background" style="background-image:url({{ page.hero_image }});"></div>
        </div>

        <section class="site-intro">
            <div class="wo pv170">
                <h2 class="color-change col-1-to-12 s-col-1-to-5 editable">
                    We <strong>help you</strong> create the conditions for core human attributes to <strong>flourish</strong>
                </h2>
                <p class="col-1-to-11 s-col-1-to-5 editable">The result is a smarter organization with systems in place to support stakeholder performance, skill-building, and more intentional short- and long-term thinking.</p>
                <p class="col-1-to-11 s-col-1-to-5 editable">This generates more supportive, resilient, and creative environments that honor the diverse and complex nature of the humans present in the work.</p>
            </div>
        </section>

        <section id="services" class="services wo pv170">
            <div class="section-intro wo full-width">
                <h2 class="section-heading editable col-1-to-12 s-col-1-to-5">
                    Our <span>Services</span>
                </h2>
                <p class="p-large editable col-1-to-6 s-col-1-to-5">We help organizations in every sector create leaders and strategies that advance impact, innovation and human thriving. Our offerings are customizable, and serve every part of the journey.</p>
                <div class="editable col-7-to-12 s-col-1-to-5">
                    <h3>For organizations</h3>
                    <ul>
                        <li>
                            <p>Keynotes, Workshops & Panels</p>
                        </li>
                        <li>
                            <p>Workplace Culture & Policy Mapping</p>
                        </li>
                        <li>
                            <p>Collaborative Program Design</p>
                        </li>
                        <li>
                            <p>Experiential Learning Journeys</p>
                        </li>
                        <li>
                            <p>End to End Strategy & Consulting</p>
                        </li>
                    </ul>
                    &nbsp;
                    <h3>For leaders</h3>
                    <ul>
                        <li>
                            <p>Executive Coaching Plans</p>
                        </li>
                        <li>
                            <p>Strategy Support</p>
                        </li>
                        <li>
                            <p>Program Advisory</p>
                        </li>
                        <li>
                            <p>Board Presentations & Facilitation</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="inneraction-lab wo full-width">
                <h3 class="pv60 editable col-1-to-6 s-col-1-to-5">
                    <img src="/_images/inneraction-lab-logo-blue.svg" alt="Inneraction Lab" />
                </h3>
                <div class="wysiwyg editable col-1-to-6 s-col-1-to-5">
                    <h4>Real growth comes from the inside</h4>
                    <p>Creating a truly human-centered culture that embraces empathy, creativity, and well-being can be a daunting task. But the consequences of not addressing these issues can lead to low employee engagement, reduced team cohesion, and a less innovative work environment.</p><p>Our inneraction lab is designed to take a deep dive into how your organization functions, to help drive growth in human capital and develop inclusive, thriving work environments.</p>
                </div>
                <div class="expanders col-7-to-12 s-col-1-to-5">
                    <div class="expander">
                        <h5 class="editable">Package details</h5>
                        <div class="editable expander__content">
                            <div class="expander__content__wrapper">
                                <p>Sign up for one of three offerings—a 2-, 6- or 12-session package. Each tier includes experiential learning sessions, 1:1 coaching opportunities, peer-to-peer group sessions, and individualized organizational design strategy consulting.</p><p></p> 
                            </div>
                        </div>
                    </div>
                    <div class="expander">
                        <h5 class="editable">How we can help</h5>
                        <div class="editable expander__content">
                            <div class="expander__content__wrapper">
                                <p>Our Inneraction Lab can help your organization:</p><p></p><ul><li><p>Develop an understanding of people-centered organizational cultures that promote inclusion and belonging.</p></li><li><p>Identify and understand the 4 dimensions of human development.</p></li><li><p>Recognize and address the effects of trauma and chronic stress in the workplace.</p></li><li><p>Implement debiasing techniques to promote inclusive decision-making.</p></li><li><p>Identify and apply strategies for fostering an inclusive and equitable work environment.</p></li><li><p>Equip participants with the ability to identify situations that call for the application of debiasing techniques and support their implementation.</p></li><li><p>Evaluate the effectiveness of DEIB initiatives and identify areas for improvement.</p></li></ul> 
                            </div>
                        </div>
                    </div>
                    <div class="expander">
                        <h5 class="editable">When you're ready</h5>
                        <div class="editable expander__content">
                            <div class="expander__content__wrapper">
                                <p>If you're ready to invest in the growth and well-being of your organization and its employees, Inneraction Lab is here to help.</p><p></p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="editable pv100 col-1-to-4 s-col-1-to-5">
                Additional services
            </h3>
            <div class="editable pv100 col-7-to-13 s-col-1-to-5">
                <p>
                    inneraction lab is our top-tier offering, and we recommend it to all prospective clients. But if you have more specific needs, or just aren’t sure the full experience is right for your organization, we also offer the following services a la carte.
                </p>
            </div>

            <div class="service-columns full-width">
            {% assign sortedServices = site.services | sort:"order" %}
            {% for item in sortedServices %}
                {% include services.html %}
            {% endfor %}
            </div>

            <div class="pv60 center full-width">
                <a class="button editable" href="/">CTA Text Here</a>
            </div>

        </section>

        <section id="work" class="work pv170">
            <div class="section-intro wo full-width">
                <h2 class="section-heading editable col-1-to-12 s-col-1-to-5">
                    Recent <span>Work</span>
                </h2>
                <p class="editable p-large col-1-to-6 s-col-1-to-5">Swipe through some of our latest work to get a sense of how we've helped organizations recently. Or give this page a visit for a more in-depth look.                 </p>
            </div>
            <div class="work__slider">
                {% for item in site.work %}
                <div class="work__slider__cell">
                    <div class="work__slider__cell__content">
                        <h3 class="work__slider__cell__subtitle">{{ item.client }}</h3>
                        <p>Test category{{ item.category }}</p>
                        <p>{{ item.description_text }}</p>
                    </div>
                    <img src="{{ item.image }}" alt="" />
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="about">
            <div class="about-us wo pv170">
                <h2 class="editable pv60 col-1-to-3 s-col-1-to-5">
                    What We Believe
                </h2>
            </div>
            <div class="graphic-layer wo pv170">
                <p class="full-width center section-heading pv100 editable">
                    We <strong><em>have</em></strong> to get this right
                </p>
                <div class="col-7-to-13 s-col-1-to-5">
                    <p class="editable">
                        Our mission is to put humanity at the heart of every organization— right where it belongs. We imagine a world where leaders and their employees don’t merely make it through each week, but thrive. That’s why we’ve developed and shaped a wide range of processes and tools that empower us to do just that.
                    </p>
                    <p class="editable">
                        Using solutions drawn from sources as wide-reaching as the Indigenous world and cognitive neuroscience, we support teams in designing cultures, implementing learning opportunities, and building models of practice that foster an environment of learning and compassionate curiosity.&nbsp;
                    </p>
                    <p class="editable">
                        At Humanature, we believe that equity is a process as much as it is an outcome. We believe all of this knowledge is paramount to how we, as a world, think about human development, belongingness, and the future of society. Most of all, we believe we’ll get it right. We have to.
                    </p>
                </div>
                <div class="graphic-layer__graphic--dekstop full-width s-hide"></div>
                <div class="graphic-layer__graphic--mobile full-width"></div>
            </div>
        </section>
        
        <section id="resources" class="resources pv170">
            <div class="wo pv170">
                <div class="section-intro wo full-width">
                    <h2 class="section-heading editable col-1-to-12 s-col-1-to-5">
                        Our <span>Resources</span>
                    </h2>
                    <p class="editable p-large col-1-to-6 s-col-1-to-5">
                        Below is a collection of resources you may find helpful. Feel free to watch, listen and share as you’d like.
                    </p>
                </div>
                {% include categories-resources.html %}
                <h3 class="editable col-1-to-3 s-col-1-to-5">
                    <strong>Most Recent</strong>
                </h3>
            </div>
            {% for post in site.posts %}
                {% include resource.html %}
            {% endfor %}
            <div class="resources__archives-cta wo-stacked">
                <a class="button" href="/resources" data-text="Resource Archives"><span>Resource Archives</span></a>
            </div>
        </section>

        <section id="contact" class="contact red-bg wo-full">
            <div class="col-1-to-7 s-col-1-to-5">
                <h2 class="color-change editable">
                    Contact us today to begin unlocking your team's full <strong>human potential.</strong>
                </h2>
            </div>
            <form class="col-1-to-7 s-col-1-to-5" method="POST" data-netlify="true" action="/message-sent/">
                <label for="name" class="half">
                    <span class="label-wrapper">
                        Name
                        <span>
                            *
                        </span>
                    </span>
                    <span class="required sr-only">(required)</span>
                    <input id="name" name="name" placeholder="Name" required="" type="text" pattern="(?! )[A-Za-z ]*" />
                </label>
                <label for="organization" class="half">
                    <span class="label-wrapper">Organization</span>
                    <input id="organization" name="organization" placeholder="Organization" type="text" pattern="(?! )[A-Za-z ]*" />
                </label>
                <label for="email" class="half">
                    <span class="label-wrapper">
                        Email Address
                        <span>
                            *
                        </span>
                    </span>
                    <span class="required hidden">(required)</span>
                    <input id="email" name="email" placeholder="Email" required="" type="email" />
                </label>
                <label for="subject" class="half">
                    <span class="label-wrapper">
                        Subject
                        <span>
                            *
                        </span>
                    </span>
                    <span class="required sr-only">(required)</span>
                    <input id="subject" name="subject" placeholder="Subject" required="" type="text" pattern="(?! )[A-Za-z ]*" />
                </label>
                <label for="message" class="full">
                    <span class="label-wrapper">
                        Message
                        <span>
                            *
                        </span>
                    </span>
                    <span class="required sr-only">(required)</span>
                    <textarea id="message" name="message" required="" placeholder="Message..."></textarea>
                </label>

                <!-- gotcha/honeypot -->
                <input type="text" name="_gotcha" style="display: none;" />

                <button class="button button--white" type="submit" data-text="Submit">
                    <span>S</span><span>u</span><span>b</span><span>m</span><span>i</span><span>t</span><span> →</span>
                </button>
            </form>
            <div class="col-7-to-13 s-col-1-to-5">
                <!-- Begin Mailchimp Signup Form -->
                <!-- This is edited significantly from the export from mailchimp, so take caution editing/adding new exports from the site -->
                <div id="mc_embed_signup" class="col-4-to-10  s-col-1-to-5">
                    <form action="https://works.us1.list-manage.com/subscribe/post?u=3f7ed211825ddcd8346fec9a2&amp;id=f2379aeaa9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h3>
                                Sign up for our newsletter
                            </h3>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">
                                    Email address 
                                    <span>
                                        *
                                    </span>
                                    <span class="sr-only">
                                        (required)
                                    </span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="johndoe@email.com" />
                            </div>
                            <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                                <div class="content__gdpr">
                                    <label>Submitting this form will allow us to send you our newsletter by the following means:</label>
                                    <p> </p>
                                    <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                                    <label class="checkbox subfield" for="gdpr_58646"><input type="checkbox" id="gdpr_58646" name="gdpr[58646]" value="Y" class="av-checkbox gdpr" /><span>Email</span> </label>
                                    </fieldset>
                                    <p>You can unsubscribe at any time by clicking the link in the footer of any email you receive from us, or by contacting us at info@humanature.works. We will treat your information with respect. By clicking above, you agree that we may process your information in accordance with these terms.</p>
                                </div>
                                <div class="content__gdprLegal">
                                    <p>We use Mailchimp as our marketing platform. By clicking subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                                </div>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3f7ed211825ddcd8346fec9a2_f2379aeaa9" tabindex="-1" value="" /></div>


                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--white" />
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </section>
    </main>

    {% include footer.html %}

</div> <!-- end locomotive scroll -->
