<nav class="full-width resources__nav pv100" aria-label="Resource Categories">
    <a class="{% if page.url == "/resources/" %}active{% endif %}" href="/resources/">All</a>
    {% for category in site.categories %}
    {% assign category_name = category[0] %}
    {% capture category_permalink %}/archive/{{ category_name | slugify }}/{% endcapture %}

      <a class="{% if page.url == category_permalink %}active{% endif %}" href="/archive/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a>
  {% endfor %}
</nav>

