<footer class="footer gray-bg wo-full">
    <img class="editable col-1-to-3 s-col-1-to-5" src="/images/humanature-icon-white.svg" alt="Humanature Icon" />
    <div class="col-1-to-4  s-col-1-to-5">
        <h2 class="editable">
            Address
        </h2>
        <address>
          <span class="editable">
            The Innovation Center 3401 <br />
            3401 Market Street Philadelphia <br />
            PA 19104
            </span>
        </address>
    </div>
    <div class="col-4-to-8  s-col-1-to-5">
        <h2 class="editable">
            Email
        </h2>
        <a href="mailto:info@humanature.works" class="editable">info@humanature.works</a>
    </div>
    <div class="col-8-to-13 s-col-1-to-5">
        <h2 class="editable">
            Sign up for our newsletter
        </h2>
        <p>Need newsletter signup form</p>
    </div>
    <small class="editable full-width">
        ©Humanature Copyright 2021
    </small>
</footer>

<!-- Flickity -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
