<footer class="footer gray-bg wo-full">
    <img class="editable col-1-to-3 s-col-1-to-5" src="/_images/humanature-icon-white.svg" alt="Humanature Icon" />
    <div class="col-1-to-4  s-col-1-to-5">
        <h2 class="editable">
            Address
        </h2>
        <address>
          <span class="editable">
            The Innovation Center <br />
            3401 Market Street <br />
            Philadelphia PA 19104
            </span>
        </address>
    </div>
    <div class="col-4-to-8  s-col-1-to-5">
        <h2 class="editable">
            Email
        </h2>
        <a href="mailto:info@humanature.works" class="editable">info@humanature.works</a>
    </div>
    <div class="col-8-to-13 s-col-1-to-5">
        <h2 class="editable">
            Sign up for our newsletter
        </h2>
        <p>Need newsletter signup form</p>
    </div>
    <small class="editable full-width">
        ©Humanature Copyright 2022
    </small>
</footer>

<!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"></script>

<!-- locomotive -->
<script src="/js/locomotive-scroll.min.js"></script>

<!-- Flickity -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- lottie support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie_light.min.js" integrity="sha512-u17Fj9cQ8L0qSebNF1zhbeAvbqSUBhX3jILF5zuZh2omdVev/zlHMeW0f2fDSW4o+/kbin6ZA9LtLfaXS0WIlQ==" crossorigin="anonymous"></script>
