<div class="services__service">
    <h3>{{ item.order }}</h3>
    <img aria-hidden="true" src="{{ item.image }}" alt="">
    <h4>{{ item.title }}</h4>
    <p>{{ item.description_text }}</p>
    <div class="expanders">
        {% for expander in item.details %}
        <div class="expander">
            <h5>{{ expander.heading }}</h5>
            <div class="expander__content">
                <p>{{ expander.content_text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>