@media only screen and (max-width: 700px) {
    li, p, a.link, a,
    input, button, textarea {
        font-weight: 500 !important;
        font-size: 190%;
        line-height: 1.111;
        letter-spacing: 0px;
    }

    h1, h2, h3, h4, h5, h6,
    .main-nav nav .main-nav__link {
        font-size: 140%;
    }

    .pv100,
    .pv170,
    .about-us__person:nth-of-type(even),
    .service-columns__service {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .home-hero h1,
    .hero-text-block {
        font-size: 600%;
    }

    .lg-list ul li,
    .resources .resources__post a h4 {
        font-size: 360%;
    }

    .resources__nav a, .button {
        font-size: 180%;
        // padding: 8px 13px 11px 13px;
    }

    .main-header {
        top: 20px;
        .main-header__home {
            left: 20px;
            top: -26px;
        }
        .main-header__logo-area img {
            width: 160px;
        }
    }
    .main-header__home.button{
        // too much going on here on small sizes
        display: none;
    }

    .main-nav nav {
        height: 44px;
        padding: 0 7px;
        .main-nav__link {
            padding: 12px 3px;
        }
    }

    .flickity-viewport {
        height: 470px !important;
        .work__slider__cell {
            width: 250px;
            margin-left: 20px !important;
            img {
                padding-right: 0 !important;
            }
        }
    }

    .home-hero h1 {
        margin: 20px;
        text-align: center;
    }

    // .gallery {
    //     margin-top: 20px 
    //     img {
    //         max-height: 90px;
    //         max-width: 150px;
    //         margin: 20px;
    //     }
    // }

    // .methodology {
    //     > div:nth-of-type(2) {
    //         margin-top: -50px;
    //     }
    // }

    .graphic-layer {
        > div {
            order: 3;
            margin-top: 50px;
            margin-bottom: 100px;
        }
        .graphic-layer__graphic--mobile {
            display: block !important;
            order: 2;
        }
    }

    .services {
        margin-top: 100px;
        .service-columns__service {
            display: flex;
            flex-wrap: wrap;
            img {
                padding-right: 0;
                width: 100%;
                order: -1;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 1000%;
                width: 20%;
                margin-bottom: 20px;
            }
            h4, 
            p {
                padding-right: 0;
                width: 79%;
                padding-left: 20px;
            }
            h4 {
                margin-top: 30px;
            }
            p {
                margin-left: 20%;
                margin-top: -40px;
            }
            .expanders p {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                padding-left: 0;
            }
        }
    }

    .resources {
        .resources__post a {
            height: 400px;
            margin-bottom: 20px;
            .background {
                height: 200px;
            }
            .button {
                top: auto;
                bottom: 0;
                padding: 3px 16px 7px 16px;
            }
            h4 {
                margin-top: -60px;
            }
            h5 {
                margin-bottom: 7px;
            }
        }
        .resources__archives-cta {
            text-align: right;
        }
    }

    .contact {
        .background {
            height: 340px;
        }
        form .half {
            width: 100%;
        }
    }

    .footer {
        div {
            margin-top: 30px;
            padding-top: 20px;
        }
    }
}