@media only screen and (min-width: 1500px) {

}

@media only screen and (max-width: 600px) {
    li, p, a.link, a,
    input, button, textarea {
        font-weight: 500 !important;
        font-size: 180%;
        line-height: 1.111;
        letter-spacing: 0px;
    }

    h1, h2, h3, h4, h5, h6,
    .main-nav nav .main-nav__link {
        font-size: 140%;
    }

    .pv100,
    .pv170 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .hero-text-block {
        font-size: 600%;
    }

    .lg-list ul li,
    .resources .resources__post a h4 {
        font-size: 360%;
    }

    .resources__nav a, .button {
        font-size: 180%;
        // padding: 8px 13px 11px 13px;
    }

    .main-header {
        top: 20px;
        .main-header__logo-area img {
            width: 160px;
        }
    }

    .main-nav nav .main-nav__link {
        padding: 5px;
    }

    .gallery img {
        max-height: 60px;
        max-width: 110px;
        margin: 20px;
    }

    .services {
        .services__service h3 {
            font-size: 1000%;
        }
        .services__service h4, 
        .services__service p {
            padding-right: 0;
        }
        .services__service {
            grid-column-start: 1 !important;
            grid-column-end: 5 !important;
        }
    }

    .resources {
        .resources__post a {
            height: 400px;
            margin-bottom: 20px;
            .background {
                height: 200px;
            }
            .button {
                top: auto;
                bottom: 0;
            }
        }
        
    }

    .footer {
        div {
            margin-top: 30px;
            padding-top: 20px;
        }
    }
}