@media only screen and (max-width: 960px) {
    .home-hero h1{
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .services {
        .lists{
            margin-bottom: 60px;
            gap: 20px 20px;
        }
    }

    li,
    p,
    a.link,
    a,
    input,
    button,
    textarea {
        font-weight: 500 !important;
        font-size: 190%;
        line-height: 1.111;
        letter-spacing: 0px;
    }

    .main-nav nav .main-nav__link {
        font-size: 140%;
    }

    .pv100,
    .pv170,
    .about-us__person:nth-of-type(even) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .pt170,
    .pt100 {
        margin-top: 50px;
    }

    .pb170,
    .pb100 {
        margin-bottom: 50px;
    }

    .pv60 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .home-hero h1,
    .hero-text-block {
        font-size: 430%;
    }

    .site-intro p{
        font-size: 240%;
    }

    .site-intro{
        ul li,
        ul li p{
            font-family: "light" !important;
            font-size: 24px !important;
            line-height: 1.2;
            padding: 0;
            letter-spacing: 0;
            max-width: 800px;
        }
        li{
            margin: 10px 0;
            b, strong{
                font-weight: 600;
            }
        }
    }


    .lg-list ul li,
    .resources .resources__post a h4 {
        font-size: 360%;
    }

    .resources__nav a,
    .button {
        font-size: 180%;

        &:before {
            top: -9px;
        }
    }

    .main-header {
        top: 20px;

        .main-header__home {
            left: 20px;
            top: -26px;
        }

        .main-header__logo-area img {
            width: 160px;
        }
    }

    .main-header__home.button {
        // too much going on here on small sizes
        display: none;
    }

    .main-nav nav {
        height: 44px;
        padding: 0 7px;

        .main-nav__link {
            padding: 12px 3px;
        }
    }

    .flickity-viewport {
        height: 470px !important;
    }

    .work {
        .work__slider {
            margin-top: 340px;
        }

        .work__slider__cell {
            width: 250px;
            margin-left: 20px !important;

            img {
                padding-right: 0 !important;
            }
        }

        .flickity-prev-next-button {
            width: 44px;
            height: 44px;
            top: -20%;

            &.previous {
                left: -10px;
            }

            &.next {
                right: -10px;
            }
        }
    }

    .home-hero h1 {
        margin: 20px;
        text-align: center;
    }

    // .gallery {
    //     margin-top: 20px 
    //     img {
    //         max-height: 90px;
    //         max-width: 150px;
    //         margin: 20px;
    //     }
    // }

    // .methodology {
    //     > div:nth-of-type(2) {
    //         margin-top: -50px;
    //     }
    // }

    .graphic-layer {
        >div {
            order: 3;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .graphic-layer__graphic--mobile {
            display: block !important;
            order: 2;
        }
    }

    .section-heading {
        font-size: 500%;
    }

    .services {
        margin-top: 100px;

        > .pv100 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .service-columns {
            flex-direction: column;
        }

        .service-columns__service {
            img {
                padding-right: 0;
                width: 100%;
                order: -1;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 1000%;
                width: 20%;
                margin-bottom: 20px;
            }

            h4,
            p {
                width: 100%;
            }

            h4 {
                margin-top: 30px;
            }

            .expanders {
                margin-top: 30px !important;

                p {
                    width: 100%;
                    margin-left: 0;
                    margin-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .inneraction-lab.expanders {
        margin-bottom: 40px;
    }

    .resources {

        .background {
            height: 200px !important;
            div{
                background-position: center !important;
            }
        }

        .resources__post {
            .button {
                top: auto !important;
                bottom: 0;
                width: 45px !important;
                height: 28px !important;
                padding: 3px 16px 7px 16px;
                a{
                    height: 100% !important;
                    margin: 0 !important;
                }
            }

            &__item{
                min-height: auto !important;
            }
        }
        .resources__post a {
            // height: 400px;
            margin-bottom: 20px;
            h5 {
                margin-bottom: 7px;
            }
        }

        .resources__archives-cta {
            text-align: right;
        }
    }

    .contact {
        .background {
            height: 340px;
        }

        form .half {
            width: 100%;
        }
    }

    .footer {
        div {
            margin-top: 30px;
            padding-top: 20px;
        }
    }

    .inneraction-lab:after {
        display: none;
    }
}